* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #1e75bb;
  --violet: #7c6eaf;
  --black: #000000;
  --light-blue: #56b0ee;
  --white: #ffffff;
  --gray: #888888;
  --light-gray: #f5f5f5;
  --yellow: linear-gradient(
    180deg,
    #996517 0%,
    #ffc672 0.01%,
    #f39200 99.98%,
    #ffae34 99.99%
  );
}
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.header {
}
.header-top-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 37px;
  font-size: 16px;
  line-height: 19.5px;
  background-color: var(--blue);
  color: var(--white);
  padding: 12px;
}
.header-top-menu__link {
  color: var(--white);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.header-top-menu__item {
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 15px;
  position: relative;
}
.logo {
  max-width: 338px;
}
.logo__img {
  max-width: 100%;
}
.menu {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.nav__item {
  list-style: none;
}
.nav__link {
  color: var(--black);
  text-decoration: none;
  font-size: 28px;
  line-height: 34px;
  transition: opacity 0.3s;
}
.nav__link:hover {
  opacity: 0.7;
}
.header-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__burger,
.close-menu {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

/* form */

.form {
  background-color: var(--white);
}
.form__content {
  max-width: 917px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--light-gray);
  padding: 60px 91px 27px 91px;
  border-radius: 10px;
}
.form__title {
  text-align: center;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 700;
  color: #ffae34;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.form__item {
  display: flex;
  align-items: center;
  padding: 15px 28px 15px 28px;
  border: 1px solid #c6c6c6;
  background-color: var(--white);
  margin-bottom: 43px;
  position: relative;
}
.form__item::before {
  content: "*";
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  color: #ff0000;
  right: 15px;
  top: 56%;
  transform: translate(-50%, -50%);
}
.form__input {
  width: 100%;
  border: none;
  font-size: 18px;
  line-height: 22px;
}
.form__input::placeholder {
  color: #c6c6c6;
}
.form__input:focus {
  outline: none;
}
.form__item--select::before {
  right: 50px;
}
.form__select {
  border: none;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
}
.form__select {
  color: #c6c6c6;
}
.form__select:focus {
  outline: none;
}
.form__btn {
  display: block;
  margin: 0 auto;
  padding: 15px 40px;
  background-color: #ffae34;
  color: var(--white);
  border-radius: 50px;
  border: none;
  transition: opacity 0.3s;
}
.form__btn:hover {
  opacity: 0.8;
}
.form__icon {
  margin-right: 4px;
}

@media screen and (max-width: 1260px) {
  .logo {
    max-width: 238px;
  }
  .nav__link {
    font-size: 20px;
  }
  .info-card {
    gap: 50px;
  }
}
@media screen and (max-width: 990px) {
  .form__content {
    padding: 60px 50px 27px 50px;
  }
  .header__burger {
    display: block;
  }
  .d-none {
    display: none;
  }
  .show {
    display: block;
  }
  .menu {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100vh;
    background-color: var(--white);
    z-index: 999;
    transform: translateX(-100%);
    transition: transform 0.3s;
    padding: 10px;
    overflow: auto;
  }
  .open-menu {
    transform: translateX(0);
  }
  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .info-card {
    gap: 30px;
  }
}
@media screen and (max-width: 780px) {
  .hidden {
    display: none;
  }
  .info-card {
    grid-template-columns: 1fr;
    gap: 50px;
  }
  .header-top-menu {
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
  }
  .header-top-menu__link {
    order: 2;
  }
  .form__content {
    padding: 30px 23px 24px 23px;
  }
  .form__item {
    margin-bottom: 33px;

    padding: 11px 14px 11px 14px;
  }
  .form__item::before {
    content: "*";
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    color: #ff0000;
    right: 5px;
    top: 56%;
  }
  .form__item--select::before {
    right: 40px;
  }
  .form__btn {
    margin: 60px auto 0 auto;
  }
}
